<a name="projects" id="projects"></a>
<div class="projects">

	<!-- Project -->
	<div class="project">
		<div class="project-description">
			<div class="left">
				<h2>Fever: the social event discovery tool</h2>
				<p>
					Leading the product, designing and coordinating the engineering team.
					<br>People discover new events based on purchases from friends and other interesting people, avoiding editorial content.
				</p>
			</div>
			<ul>
				<li>Head of Product Design</li>
				<li>2013 / 2014</li>
			</ul>
		</div>
		<div class="image-container">
			<img src="{{ "/assets/images/img.png" | relative_url }}">
		</div>
	</div>

	<!-- Project -->
	<div class="project">
		<div class="project-description">
			<div class="left">
				<h2>Fever: the social event discovery tool</h2>
				<p>
					Leading the product, designing and coordinating the engineering team.
					<br>People discover new events based on purchases from friends and other interesting people, avoiding editorial content.
				</p>
			</div>
			<ul>
				<li>Head of Product Design</li>
				<li>2013 / 2014</li>
			</ul>
		</div>
		<div class="image-container">
			<img src="{{ "/assets/images/img.png" | relative_url }}">
		</div>
	</div>

</div>