<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>


    <div class="home">
      <div class="home-inner">
        <h1>{{ site.title}}.</h1>
        <p>{{ site.description }}<br>I love conceptualizing and executing products that solve real problems.</p>
      </div>
      <ul class="home-menu">
        <li><a href="#projects">Projects</a></li>
        <li><a href="http://tumblr.adrianmato.com/">Devlog</a></li>
        <li><a href="http://twitter.com/adrianmg">Twitter</a></li>
        <li><a href="mailto:hello@adrianmato.com">Contact</a></li>
      </ul>
    </div>

    {% include projects.html %}


  </body>
</html>